<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <center><h1><i>KaChat!</i></h1>
  <h3>If you don't already have an account, <a href="{% url 'signup'%}">signup</a> with us!</h3>
  <h3>else login to your account to see the posts</h3>   </center> 
    <center>  <div class="form ">


        {% for message in messages%}   
        <h3>{{message}}</h3>
        {%endfor%}
        <form action="" method="post">
          {% csrf_token%}
          <p class="head">Username:</p>
          <input class="input1" type="text" name="username" />
          <p class="head">Password:</p>
          <input class="input1" type="password" name="password" />
          <br /><br />
          <input class="input2" type="submit" />
        </form>

      </div></center>



</body>
</html>